body {
    background-color: #14171c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2rem;
}

input[type="text"] {
    margin-top: 1rem;
    width: 250px;
    height: 40px;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    background-color: #1b1f26;
    color: white;
}

button[type="submit"] {
    margin-top: 1rem;
    background-color: #d753e6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#errorText {
    margin-top: 1rem;
    color: red;
}